#chart3 {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100px;
    margin-left: -8px;
}

#back {
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    right: 11px;
    bottom: 10px;
    font-family: sans-serif;
    font-weight: bold
}

/*#nodata{
    position: absolute;
    left: 50%;
    margin-left: -129px;
    top: 50%;
    margin-top: -186px;
    display: none
}*/
#date {
    width: 100%;
    padding: 10px 0px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
    display: block;
    background: #666666;
    font-size: 25px;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
    position: absolute;
    visibility: visible;
    top: 0px;
    opacity: 0.75;
    text-align: center;
    left: 0px;
}

#comtitle {
    float: left;
    margin-left: 25px;
}

#datenum {
    margin-left: -180px;
}

#next {
    background-position: 100% 0;
    right: 0;
    position: absolute;
    top: 50%;
    margin-top: 0px;
    z-index: 60;
    height: 100px;
    width: 60px;
    background-image: url(../imgs/arrows.png);
    text-decoration: none;
    outline: none;
    border: none;
    display: block;
    cursor: pointer
}

#prev {
    left: 0;
    background-position: 0 0;
    position: absolute;
    top: 50%;
    margin-top: 0px;
    z-index: 60;
    height: 100px;
    width: 60px;
    background-image: url(../imgs/arrows.png);
    text-decoration: none;
    outline: none;
    border: none;
    display: block;
    cursor: pointer
}

#graph-container {
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 100%;
    height: -moz-calc(100% - 100px);
    height: -webkit-calc(100% - 100px);
    height: calc(100% - 100px);
}

#graph-container-inside {
    height: 100%;
    width: 100%;
}

/********************
 * HTML CSS
 */
html {
    height: 90%;
}

body {
    overflow-x: hidden;
    height: 100%;
    font-family: 'Open Sans';
}

text {
    font: 12px sans-serif
}

svg {
    display: block
}

.nvtooltip svg {
    overflow: hidden !important;
}

#chart1 svg, #chart2 svg {
    height: 100%;
    overflow: visible;
}

#chart1 .nv-lineChart circle.nv-point {
    fill-opacity: 1
}

#chart2 .nv-lineChart circle.nv-point {
    fill-opacity: 1;
    fill: white;
    stroke-width: 0
}

#chart3 .nv-lineChart circle.nv-point {
    fill-opacity: 1
}

#chart1, #chart2 {
    position: absolute;
    top: 0px;
    margin-top: 90px;
    height: -moz-calc(200% - 95px);
    height: -webkit-calc(200% - 95px);
    height: calc(200% - 95px);
    width: 100%
}

#chart2 {
    z-index: 1
}

#chart1 {
    z-index: 2
}

.chartWrap {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/********************
  Box shadow and border radius styling
*/
.nvtooltip.with-3d-shadow, .with-3d-shadow .nvtooltip {
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/********************
 * TOOLTIP CSS
 */

.nvtooltip {
    position: absolute;
    background-color: rgba(255, 255, 255, 1.0);

    z-index: 10000;
    margin-top: -20px;

    font-family: Arial;
    font-size: 13px;
    text-align: left;
    pointer-events: none;

    white-space: nowrap;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Give tooltips that old fade in transition by
    putting a "with-transitions" class on the container div.
*/
.nvtooltip.with-transitions, .with-transitions .nvtooltip {
    transition: opacity 250ms linear;
    -moz-transition: opacity 250ms linear;
    -webkit-transition: opacity 250ms linear;

    transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -webkit-transition-delay: 250ms
}

.nvtooltip.x-nvtooltip,
.nvtooltip.y-nvtooltip {
    padding: 8px;
}

.nvtooltip h3 {
    margin: 0;
    padding: 4px 14px;
    line-height: 18px;
    font-weight: normal;
    background-color: #E8E8E8;
    text-align: center;

/ / border-bottom : 1 px solid darkgray;

    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.nvtooltip h3 p {
    font-weight: normal;
}

.nvtooltip p {
    margin: 0;
    /* padding: 3px 14px; */
    text-align: center;
    font-weight: bold;
    /* padding-bottom: 5px; */
    /* padding-left: 35px; */
    padding-top: 7px;
}

.nvtooltip span {
    float: right;
    font-weight: bold;
    margin-right: 250px;
}

.nvtooltip table {
    border-spacing: 6px;
    background-color: #E8E8E8;
    width: 750px;
}

.nvtooltip table td {
    padding: 2px 0px 2px 0;
    vertical-align: middle;
    left: 120px;
    position: relative
}

.categories {
    display: inline-block;
    width: 150px;
/ / 150 px text-align : center;
    margin-top: 5px !important;
    padding: 0 !important;

}

.nvtooltip table thead td {
    text-align: center;
    text-indent: -255px;
}

.nvtooltip table td.key {
    font-weight: normal;
}

.nvtooltip table td.value {
    text-align: right;

}

.nvtooltip table tr.highlight td {
    padding: 1px 9px 1px 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: rgb(211, 211, 211);
    border-top-color: rgb(211, 211, 211);
}

.nvtooltip table td.legend-color-guide div {
    width: 8px;
    height: 8px;
    vertical-align: middle;
}

.nvtooltip .footer {
    padding: 3px;
    text-align: center;
}

.nvtooltip-pending-removal {
    position: absolute;
    pointer-events: none;
}

/********************
 * SVG CSS
 */

svg {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Trying to get SVG to act like a greedy block in all browsers */
    display: block;
    width: 100%;
    height: 100%;
}

svg text {
    font: normal 13px Arial;
}

svg .title {
    font: bold 14px Arial;
}

.nvd3 .nv-background {
    fill: white;
    fill-opacity: 0;
    /*
    pointer-events: none;
    */
}

.nvd3.nv-noData {
    font-size: 18px;
    font-weight: bold;
}

/**********
*  Brush
*/

.nv-brush .extent {
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

/**********
*  Legend
*/

.nvd3 .nv-legend .nv-series {
    cursor: default;
}

.nvd3 .nv-legend .disabled circle {
    fill-opacity: 0;
}

/**********
*  Axes
*/
.nvd3 .nv-axis {
    pointer-events: none;
}

.nvd3 .nv-axis path {
    fill: none;
    stroke: #000;
    stroke-opacity: .75;
    shape-rendering: crispEdges;
}

.nvd3 .nv-axis path.domain {
    stroke-opacity: .75;
}

.nvd3 .nv-axis.nv-x path.domain {
    stroke-opacity: 0;
}

.nvd3 .nv-axis line {
    fill: none;
    stroke: #e5e5e5;
    shape-rendering: crispEdges;
}

.nvd3 .nv-axis .zero line,
    /*this selector may not be necessary*/
.nvd3 .nv-axis line.zero {
    stroke-opacity: .75;
}

.nvd3 .nv-axis .nv-axisMaxMin text {
    font-weight: bold;
}

.nvd3 .x .nv-axis .nv-axisMaxMin text,
.nvd3 .x2 .nv-axis .nv-axisMaxMin text,
.nvd3 .x3 .nv-axis .nv-axisMaxMin text {
    text-anchor: middle;
}

/**********
*  Brush
*/

.nv-brush .resize path {
    fill: #eee;
    stroke: #666;
}

/**********
*  Bars
*/

.nvd3 .nv-bars .negative rect {
    zfill: brown;
}

.nvd3 .nv-bars rect {
    zfill: steelblue;
    fill-opacity: .75;

    transition: fill-opacity 250ms linear;
    -moz-transition: fill-opacity 250ms linear;
    -webkit-transition: fill-opacity 250ms linear;
}

.nvd3 .nv-bars rect.hover {
    fill-opacity: 1;
}

.nvd3 .nv-bars .hover rect {
    fill: lightblue;
}

.nvd3 .nv-bars text {
    fill: rgba(0, 0, 0, 0);
}

.nvd3 .nv-bars .hover text {
    fill: rgba(0, 0, 0, 1);
}

/**********
*  Bars
*/

.nvd3 .nv-multibar .nv-groups rect,
.nvd3 .nv-multibarHorizontal .nv-groups rect,
.nvd3 .nv-discretebar .nv-groups rect {
    stroke-opacity: 0;

    transition: fill-opacity 250ms linear;
    -moz-transition: fill-opacity 250ms linear;
    -webkit-transition: fill-opacity 250ms linear;
}

.nvd3 .nv-multibar .nv-groups rect:hover,
.nvd3 .nv-multibarHorizontal .nv-groups rect:hover,
.nvd3 .nv-discretebar .nv-groups rect:hover {
    fill-opacity: 1;
}

.nvd3 .nv-discretebar .nv-groups text,
.nvd3 .nv-multibarHorizontal .nv-groups text {
    font-weight: bold;
    fill: rgba(0, 0, 0, 1);
    stroke: rgba(0, 0, 0, 0);
}

/***********
*  Pie Chart
*/

.nvd3.nv-pie path {
    stroke-opacity: 0;
    transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;
    -moz-transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;
    -webkit-transition: fill-opacity 250ms linear, stroke-width 250ms linear, stroke-opacity 250ms linear;

}

.nvd3.nv-pie .nv-slice text {
    stroke: #000;
    stroke-width: 0;
}

.nvd3.nv-pie path {
    stroke: #fff;
    stroke-width: 1px;
    stroke-opacity: 1;
}

.nvd3.nv-pie .hover path {
    fill-opacity: .7;
}

.nvd3.nv-pie .nv-label {
    pointer-events: none;
}

.nvd3.nv-pie .nv-label rect {
    fill-opacity: 0;
    stroke-opacity: 0;
}

/**********
* Lines
*/

.nvd3 .nv-groups path.nv-line {
    fill: none;
    stroke-width: 1.5px;
    /*
    stroke-linecap: round;
    shape-rendering: geometricPrecision;

    transition: stroke-width 250ms linear;
    -moz-transition: stroke-width 250ms linear;
    -webkit-transition: stroke-width 250ms linear;

    transition-delay: 250ms
    -moz-transition-delay: 250ms;
    -webkit-transition-delay: 250ms;
    */
}

.nvd3 .nv-groups path.nv-line.nv-thin-line {
    stroke-width: 1px;
}

.nvd3 .nv-groups path.nv-area {
    stroke: none;
    /*
    stroke-linecap: round;
    shape-rendering: geometricPrecision;

    stroke-width: 2.5px;
    transition: stroke-width 250ms linear;
    -moz-transition: stroke-width 250ms linear;
    -webkit-transition: stroke-width 250ms linear;

    transition-delay: 250ms
    -moz-transition-delay: 250ms;
    -webkit-transition-delay: 250ms;
    */
}

.nvd3 .nv-line.hover path {
    stroke-width: 6px;
}

/*
.nvd3.scatter .groups .point {
  fill-opacity: 0.1;
  stroke-opacity: 0.1;
}
  */

.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point {
    fill-opacity: .5;
    stroke-opacity: .5;
}

.with-transitions .nvd3 .nv-groups .nv-point {
    transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
    -moz-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
    -webkit-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;

}

.nvd3.nv-scatter .nv-groups .nv-point.hover,
.nvd3 .nv-groups .nv-point.hover {
    stroke-width: 1px;
/ / opacity : 1 !important;
/ / stroke-opacity : 1 !important;
/ / fill : red;
    stroke: #666666;
}

.nvd3 .nv-point-paths path {
    stroke: #aaa;
    stroke-opacity: 0;
    fill: #eee;
    fill-opacity: 0;
}

.nvd3 .nv-indexLine {
    cursor: ew-resize;
}

/**********
* Distribution
*/

.nvd3 .nv-distribution {
    pointer-events: none;
}

/**********
*  Scatter
*/

/* **Attempting to remove this for useVoronoi(false), need to see if it's required anywhere
.nvd3 .nv-groups .nv-point {
  pointer-events: none;
}
*/

.nvd3 .nv-groups .nv-point.hover {
    stroke-width: 20px;
    stroke-opacity: .5;
}

.nvd3 .nv-scatter .nv-point.hover {
    fill-opacity: 1;
}

/*
.nv-group.hover .nv-point {
  fill-opacity: 1;
}
*/

/**********
*  Stacked Area
*/

.nvd3.nv-stackedarea path.nv-area {
    fill-opacity: .7;
    /*
    stroke-opacity: .65;
    fill-opacity: 1;
    */
    stroke-opacity: 0;

    transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
    -moz-transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;
    -webkit-transition: fill-opacity 250ms linear, stroke-opacity 250ms linear;

    /*
    transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -webkit-transition-delay: 500ms;
    */

}

.nvd3.nv-stackedarea path.nv-area.hover {
    fill-opacity: .9;
    /*
    stroke-opacity: .85;
    */
}

/*
.d3stackedarea .groups path {
  stroke-opacity: 0;
}
  */

.nvd3.nv-stackedarea .nv-groups .nv-point {
    stroke-opacity: 0;
    fill-opacity: 0;
}

/*
.nvd3.nv-stackedarea .nv-groups .nv-point.hover {
  stroke-width: 20px;
  stroke-opacity: .75;
  fill-opacity: 1;
}*/

/**********
*  Line Plus Bar
*/

.nvd3.nv-linePlusBar .nv-bar rect {
    fill-opacity: .75;
}

.nvd3.nv-linePlusBar .nv-bar rect:hover {
    fill-opacity: 1;
}

/**********
*  Bullet
*/

.nvd3.nv-bullet {
    font: 10px sans-serif;
}

.nvd3.nv-bullet .nv-measure {
    fill-opacity: .8;
}

.nvd3.nv-bullet .nv-measure:hover {
    fill-opacity: 1;
}

.nvd3.nv-bullet .nv-marker {
    stroke: #000;
    stroke-width: 2px;
}

.nvd3.nv-bullet .nv-markerTriangle {
    stroke: #000;
    fill: #fff;
    stroke-width: 1.5px;
}

.nvd3.nv-bullet .nv-tick line {
    stroke: #666;
    stroke-width: .5px;
}

.nvd3.nv-bullet .nv-range.nv-s0 {
    fill: #eee;
}

.nvd3.nv-bullet .nv-range.nv-s1 {
    fill: #ddd;
}

.nvd3.nv-bullet .nv-range.nv-s2 {
    fill: #ccc;
}

.nvd3.nv-bullet .nv-title {
    font-size: 14px;
    font-weight: bold;
}

.nvd3.nv-bullet .nv-subtitle {
    fill: #999;
}

.nvd3.nv-bullet .nv-range {
    fill: #bababa;
    fill-opacity: .4;
}

.nvd3.nv-bullet .nv-range:hover {
    fill-opacity: .7;
}

/**********
* Sparkline
*/

.nvd3.nv-sparkline path {
    fill: none;
}

.nvd3.nv-sparklineplus g.nv-hoverValue {
    pointer-events: none;
}

.nvd3.nv-sparklineplus .nv-hoverValue line {
    stroke: #333;
    stroke-width: 1.5px;
}

.nvd3.nv-sparklineplus,
.nvd3.nv-sparklineplus g {
    pointer-events: all;
}

.nvd3 .nv-hoverArea {
    fill-opacity: 0;
    stroke-opacity: 0;
}

.nvd3.nv-sparklineplus .nv-xValue,
.nvd3.nv-sparklineplus .nv-yValue {
    /*
    stroke: #666;
    */
    stroke-width: 0;
    font-size: .9em;
    font-weight: normal;
}

.nvd3.nv-sparklineplus .nv-yValue {
    stroke: #f66;
}

.nvd3.nv-sparklineplus .nv-maxValue {
    stroke: #2ca02c;
    fill: #2ca02c;
}

.nvd3.nv-sparklineplus .nv-minValue {
    stroke: #d62728;
    fill: #d62728;
}

.nvd3.nv-sparklineplus .nv-currentValue {
    /*
    stroke: #444;
    fill: #000;
    */
    font-weight: bold;
    font-size: 1.1em;
}

/**********
* historical stock
*/

.nvd3.nv-ohlcBar .nv-ticks .nv-tick {
    stroke-width: 2px;
}

.nvd3.nv-ohlcBar .nv-ticks .nv-tick.hover {
    stroke-width: 4px;
}

.nvd3.nv-ohlcBar .nv-ticks .nv-tick.positive {
    stroke: #2ca02c;
}

.nvd3.nv-ohlcBar .nv-ticks .nv-tick.negative {
    stroke: #d62728;
}

.nvd3.nv-historicalStockChart .nv-axis .nv-axislabel {
    font-weight: bold;
}

.nvd3.nv-historicalStockChart .nv-dragTarget {
    fill-opacity: 0;
    stroke: none;
    cursor: move;
}

.nvd3 .nv-brush .extent {
    /*
    cursor: ew-resize !important;
    */
    fill-opacity: 0 !important;
}

.nvd3 .nv-brushBackground rect {
    stroke: #000;
    stroke-width: .4;
    fill: #fff;
    fill-opacity: .7;
}

/**********
* Indented Tree
*/

/**
 * TODO: the following 3 selectors are based on classes used in the example.  I should either make them standard and leave them here, or move to a CSS file not included in the library
 */
.nvd3.nv-indentedtree .name {
    margin-left: 5px;
}

.nvd3.nv-indentedtree .clickable {
    color: #08C;
    cursor: pointer;
}

.nvd3.nv-indentedtree span.clickable:hover {
    color: #005580;
    text-decoration: underline;
}

.nvd3.nv-indentedtree .nv-childrenCount {
    display: inline-block;
    margin-left: 5px;
}

.nvd3.nv-indentedtree .nv-treeicon {
    cursor: pointer;
    /*
    cursor: n-resize;
    */
}

.nvd3.nv-indentedtree .nv-treeicon.nv-folded {
    cursor: pointer;
    /*
    cursor: s-resize;
    */
}

/**********
* Parallel Coordinates
*/

.nvd3 .background path {
    fill: none;
    stroke: #ccc;
    stroke-opacity: .4;
    shape-rendering: crispEdges;
}

.nvd3 .foreground path {
    fill: none;
    stroke: steelblue;
    stroke-opacity: .7;
}

.nvd3 .brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.nvd3 .axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.nvd3 .axis text {
    text-shadow: 0 1px 0 #fff;
}

/****
Interactive Layer
*/
.nvd3 .nv-interactiveGuideLine {
    pointer-events: none;
}

.nvd3 line.nv-guideline {
    stroke: #ccc;
}

.nv-y text {
    font-weight: bold;
}

.tick line {
    opacity: 0.3;
}

#chart2 .tick line {
    opacity: 0;
}

.nv-x .nv-axisMaxMin {
    display: none;
}

#chart3 .nv-axis .tick text {
    /*font-size: 4px*/
}

#chart3 .tick line {
    display: none;
}

#chart3 .nvtooltip {
    margin-top: 44px
}

.content {
    position: relative;
    top: 5px;
    width: 240px;
    margin: 0 auto;
    z-index: 2;
}

#admin {
    background: gainsboro;
    width: 230px;
    height: 30px;
    color: #888;
    border: none;
    border-radius: 3px;
    padding: 0 0 0 10px;
    font: bold 13px Helvetica, sans-serif;

    line-height: 31px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-bottom: 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
}

#settings {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 5px 0 0;
    border: none;
    outline: none;
    color: #888;
    font-size: 20px;
    cursor: pointer;
}

#settings:hover {
    color: #555;
}

#menu {
    display: none;
}

#menu div:not(:first-child) {
    display: block;
    background: gainsboro;
    width: 230px;
    height: 30px;
    padding: 0 0 0 10px;
    font: bold 13px Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    line-height: 31px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#menu div:nth-child(2) {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

#menu div:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#menu div:hover {
    color: #555;
}

#firstIcon, #secondIcon, #thirdIcon, #fourthIcon {
    position: absolute;
    margin-top: 2px;
    right: 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
    opacity: 0.7;
}

#firstIcon {
    margin-right: 6px;
}

#secondIcon {
    margin-right: 5px;
}

#thirdIcon {
    margin-right: 5px;
}

#fourthIcon {
    margin-right: 13px;
}

#arrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid gray;
    margin-left: 15px;
}

.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0, 0, 0, .8);
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
}

.reveal-modal {
    font-family: 'Open Sans';
    visibility: hidden;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    width: 520px;
    background: #eee url(../imgs/modal-gloss.png) no-repeat -200px -80px;
    position: absolute;
    z-index: 101;
    padding: 30px 40px 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.reveal-modal.small {
    width: 200px;
    margin-left: -140px;
}

.reveal-modal.medium {
    width: 400px;
    margin-left: -240px;
}

.reveal-modal.large {
    width: 600px;
    margin-left: -340px;
}

.reveal-modal.xlarge {
    width: 800px;
    margin-left: -440px;
}

.reveal-modal .close-reveal-modal {
    font-size: 22px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .6);
    font-weight: bold;
    cursor: pointer;
}

/*.myModal {
    top:26px!important;
    width:90%;
    height:95%;
    left:5%;
    margin-left:0;
    padding:0;
    position:fixed!important
}*/

.user-profile {
    margin: auto;
    width: 360px;
    height: 176px;
    background: #E8E8E8;
    border-radius: .3em;
    position: absolute;
    top: 110px;
    right: 80px;
    display: none;
}

.user-profile .username {
    margin: auto;
    margin-top: -4.40em;
    margin-left: 5.80em;
    color: #658585;
    font-size: 1.53em;
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-profile .bio {
    margin: auto;
    display: inline-block;
    margin-left: 10.43em;
    color: darkgray;
    font-size: .87em;
    font-family: sans-serif;
}

.user-profile > .description {
    margin: auto;
    margin-top: 1.35em;
    margin-right: 20px;
    width: 14em;
    color: #5c5c5c;
    font-size: .87em;
    font-family: sans-serif;
    word-break: break-all;
}

.user-profile img.avatar {
    padding: .7em;
    margin-left: .3em;
    margin-top: .3em;
    height: 6.23em;
    width: 6.23em;
    border-radius: 18em;
}

.user-profile ul.data {
    height: 71px;
    background: #4eb6b6;
    text-align: center;
    border-radius: 0 0 .3em .3em;
    list-style-type: none; /*to remove bullets*/
    padding: 0px;
    margin-top: 0px;
}

.user-profile li {
    font-family: sans-serif;
    color: #e3eeee;
    white-space: nowrap;
    font-size: 1.27em;
    font-weight: bold;
    padding-top: 10px;
    width: 105px;
    display: inline-block;
}

.user-profile li p {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

#more {
    background-color: #747474;
    text-align: center;
    font-family: sans-serif;
    margin-top: -34px;
    border-radius: 0 0 .3em .3em;
    height: 25px;
    line-height: 28px;
    color: #e3eeee;
}

.close {
    position: absolute;
    margin: 0;
    top: 7px;
    right: 7px;
    cursor: pointer
}

#more img {
    position: relative;
    top: 3px;
    left: -19px;
    margin-right: -12px;
    cursor: pointer;
}

#myModal2 {
    top: 26px !important;
    width: 93%;
    height: 95%;
    left: 4%;
    margin-left: 0px;
    padding: 0;
    position: fixed !important;
    background: #E8E8E8
}

#info {
    width: 100%;

    position: relative;
    height: 157px;
    border-bottom: 2px gray inset;
}

#net {
    width: 100%;

    position: relative;
    height: 50%;
    height: -moz-calc(50% - 78.5px);
    height: -webkit-calc(50% - 78.5px);
    height: calc(50% - 78.5px);
    border-bottom: 2px gray inset;
}

#graph {
    width: 100%;

    position: relative;
    height: 50%;
    height: -moz-calc(50% - 78.5px);
    height: -webkit-calc(50% - 78.5px);
    height: calc(50% - 78.5px)

}

#infophoto img {
    border-radius: 8px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

}

#infophoto {

    background: #fff;
    border: 5px solid #fff;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
    height: 120px;
    position: relative;
    width: 120px;
    top: 20px;
    left: 40px
}

#infoname {
    position: absolute;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 700;
    left: 183px;
    display: inline-block;
    top: 20px;
    color: #292f33;
}

#infouser {
    display: inline-block;
    position: absolute;
    color: #8899a6;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    top: 42px;
    left: 183px;
}

#infodesc {
    display: inline-block;
    font-family: sans-serif;
    position: absolute;
    font-size: 14px;
    top: 90px;
    left: 183px;
    color: #292f33;
    width: 290px;
}

#infoloc {
    display: inline-block;
    position: absolute;
    left: 183px;
    top: 130px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #292f33;
}

.box {
    background-color: #4EB6B6;
    width: 100px;
    text-align: center;
    font-family: sans-serif;
    color: #E3EEEE;
    white-space: nowrap;
    font-size: 1.27em;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    top: 55px;
}

#chart4 {
    height: 100%;
}

.toolimg {
    background: #fff;
    border: 3px solid #fff;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);

    position: relative;

    top: 4px;
    width: 48px;
    height: 48px;

}

/*div.s3d  {
    clear: both;
    visibility: hidden;
    -webkit-border-radius:3px;
       -moz-border-radius:3px;
            border-radius:3px;
            
    -webkit-box-shadow:0 4px 5px rgba(0,0,0,.3);
       -moz-box-shadow:0 4px 5px rgba(0,0,0,.3);
            box-shadow:0 4px 5px rgba(0,0,0,.3);
            
    display: inline-block !important;
    font: 700 13px/36px 'Arial', Helvetica, Clean, sans-serif;
    height: 26px;
    margin: 0 0 10px;
    padding: 0 10px 11px;
    position: absolute;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,.35);
    width: 120px;
bottom: 0px;
right: 25px}
*/

/**
 * Twitter
 
div.twitter {
    background: #5d9fd2;
    cursor: pointer;
    color: rgba(25,45,55,.9);
}
    */

#g1 {
    width: 360px;
    background-color: #e8e8e8;
    height: 150px;
    margin-top: 0px;
    width: 360px;

}

.iconmes {
    background: url('../imgs/conve.png') no-repeat;
    bottom: 2px;
    display: block;
    height: 26px;
    position: absolute;
    right: 10px;
    width: 25px;
}

#expand, #minimize {
    position: absolute;
    top: 75px;
    z-index: 2;
    cursor: pointer;
}

#conve {
    background-color: #e9f0f5;
    display: none;
    top: 31px !important;
    width: 60%;
    height: 94%;
    padding: 0;
    position: fixed !important;
    z-index: 103;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}

#overlay {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 102;

}

.ftweets {
    font-weight: normal !important;
    font-size: 12px !important;

    white-space: pre-line;
    text-align: justify !important;
    padding: 10px !important;
    word-wrap: break-word;
    white-space: normal;

}

.ftweets:not(:nth-last-child(-n+1)) {
    border-bottom: 1px dashed gray;

}

.fimg {
    position: absolute;
    left: 8px;
    margin-top: 2px;
}

.fcount {
    position: absolute;
    /* padding-bottom: 0 !important; */
    right: 213px;
    margin-top: -18px !important;
}

/* -------------------------------- 

Primary style

-------------------------------- */

/*
.cd-timeline-content, #conve {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.cd-container {
  
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
 
  content: '';
  display: table;
  clear: both;
}


#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
 
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 34px;
  height: 34px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -17px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {

  position:relative;
  left:10px;
  
  font-family: sans-serif;
font-weight: 700;
display:inline;
color: #292F33;
}
.cd-timeline-content h3 {

  position: relative;
top: 0px;
left: 10px;
margin: 0;
color: #8899A6;
font-size: 14px;
font-weight: 400;
font-family: sans-serif;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
  color:#292f33;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.cd-timeline-content img{
float:left;
width:48px;
height:48px;
}

*/

#ta {

    display: inline-block;
    width: 375px;
}

#ta2 {
    display: inline-block;
    vertical-align: top;
    width: 375px;
}

#first {
    height: 100%;
    position: absolute;
    top: 0;
    border-right: 2px dashed gray;
    left: 150px;
/ / 150 px
}

#first2 {
    height: 100%;
    position: absolute;
    top: 0;
    border-right: 2px dashed gray;
    left: 375px;
}

#second {
    height: 100%;
    position: absolute;
    top: 0;
    border-right: 2px dashed gray;
    left: 300px;
/ / 300 px
}

#third {
    height: 100%;
    position: absolute;
    top: 0;
    border-right: 2px dashed gray;
    left: 450px;
}

#fourth {
    height: 100%;
    position: absolute;
    top: 0;
    border-right: 2px dashed gray;
    left: 600px;
}

#words, #words2 {
    overflow: hidden;
    position: relative;
    width: 100%;
}